$color-white: #FFFFFF;
$color-yellow: #FFE600;
$color-darkest-grey: #333333;
$color-dark-grey: #666666;
$color-grey: #999999;
$color-ligt-grey: #D9D9D9;
$color-ligtest-grey: #EEEEEE;
$color-primary-blue: #3483FA;
$color-green: #39B54A;
